<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HIDIVE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">HIDIVE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse right" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/simulcasts">Simulcasts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/dubs">Dubs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exclusives">Exclusives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recentlyAdded">Recently Added</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trendingNow">Trending Now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mostPopular">Most Popular</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More for you
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/continueWatching">Continue Watching</a>
                    <a class="dropdown-item" href="/myQueue">My Queue</a>
                    <a class="dropdown-item" href="/myFavorites">My Favorites</a>
                    <a class="dropdown-item" href="/likeRin">Like RIN-NE 3</a>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </nav>