<% include ./partials/header %>

<div class="container">
    
    <div class="jumbotron">
        <h1 class="display-4">Similar to RIN-NE 3</h1>
        <hr class="my-4">
        <p class="lead">Watch more shows like RIN-NE 3!</p>
    </div>
    
    <div class="row container middleInfo">
        <% dashboard.Data.TitleRows[8].Titles.forEach(function(item){ %>
            <% include ./partials/middleware/index %>
        <% }); %>
    </div>
    
</div>

<% include ./partials/footer %>