<% include ./partials/header %>

<div class="container">
    
    <div class="jumbotron">
        <h1 class="display-4">My Queue</h1>
        <hr class="my-4">
        <p class="lead">Start the shows you saved!</p>
    </div>
    
    <div class="row container middleInfo">
        <% dashboard.Data.TitleRows[1].Titles.forEach(function(item){ %>
            <% include ./partials/middleware/index %>
        <% }); %>
    </div>
    
</div>

<% include ./partials/footer %>